<!DOCTYPE html>
<html>
    <head>
        <style>
            * { box-sizing: border-box; }

            body { margin: 0; }

            header { text-align: center; }

            h2 { text-align: center; }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <h1>Ya estás registrado</h1>
        </header>

        <h2>CC: {{participant.id_num}}</h2>
        <h2>Nombre: {{participant.name}}</h2>
    </body>
</html> 
