<!DOCTYPE html>
<html>
    <head>
        <style>
            * { box-sizing: border-box; }

            body { margin: 0; }

            header { text-align: center; }

            form { text-align:center; width: 100%; }
            label, input { display: inline-block; }
            label { width: 25%; text-align: right; }
            label + input { width: 65%; }

            input { width: 90%; padding: 6px 6px; margin: 2px 0; border: 3px solid #ccc; transition: 0.5s; }
            input:focus { border: 3px solid #555; }

        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <h1>Confirmar reserva</h1>
        </header>

        <form action="/perform_reservation" method=post>
            <input type="hidden" name="participant" value="{{participant.pk}}"/>
            <input type="hidden" name="city" value="{{city.pk}}"/>
            <input type="hidden" name="temple" value="{{temple.pk}}"/>
            <input type="hidden" name="mass" value="{{mass.pk}}"/>
            <label>CC:</label> <input class="input_col" value="{{participant.id_num}}" readonly> <br>
            <label>Nombre:</label> <input class="input_col" name="name" value="{{participant.name}}" readonly> <br>
            <label>Ciudad:</label> <input class="input_col" value="{{city.name}}" readonly> <br>
            <label>Templo:</label> <input class="input_col" value="{{temple.name}}" readonly> <br>
            <label>Misa:</label> <input class="input_col" value="{{mass.get_formatted_schedule}}" readonly> <br>
            <input type="submit" value="Confirmar">
        </form> 

    </body>
</html> 
