<!DOCTYPE html>
<html>
    <head>
        <style>
            * { box-sizing: border-box; }

            header { text-align: center; }

            form { text-align:center; width: 100%; }
            label, input { display: inline-block; }
            label { width: 30%; text-align: right; }
            label + input { width: 30%; margin: 0 30% 0 1%; }

            input { width: 50%; padding: 6px 6px; margin: 2px 0; border: 3px solid #ccc; transition: 0.5s; }
            input:focus { border: 3px solid #555; }
        </style>
    </head>
    <body>
        <header>
            <h1>Crear Misa</h1>
        </header>

        <form action="/create_mass" method=post>
            <input type="hidden" name="temple" value="{{temple}}"/>
            <label>Horario:</label> <input type="datetime-local" name="schedule" required> <br>
            <label>Maximo de participantes:</label> <input type="text" name="max_participants" required> <br>
            <input type="submit" value="Crear">
        </form> 
    </body>
</html> 
