<!DOCTYPE html>
<html>
    <head>
        <style>
            * { box-sizing: border-box; }

            body { margin: 0; }

            header { text-align: center; }

            h2 { text-align: center; }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <h1>Lo sentimos, los cupos han llegado a su límite</h1>
        </header>

        <h2>{{mass.get_formatted_schedule}} - {{temple.name}} - {{city.name}}</h2>
        <h2>Por favor selecciona otra misa</h2>
    </body>
</html> 
