<!DOCTYPE html>
<html>
    <head>
        <style>
            header { text-align: center; }
            nav ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; }
            nav li { float: left; }
            nav li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; font-weight: bold; }
            nav li a:hover { background-color: #111; }
        </style>
    </head>

    <body>
        <header>
            <h1>Bienvenido</h1>
        </header>

        <nav>
            <ul>
                {% for temple in temples %}
                    <li>
                        <a href="/select_mass?temple={{temple.pk}}">{{temple.name}}</a>
                    </li>
                {% endfor %}
                <li style="float:right"> <a href="/login">Ingresar</a> </li>
            </ul>
        </nav>
    </body>
</html> 
