<!DOCTYPE html>
<html>
    <head>
        <style>
            * { box-sizing: border-box; }

            body { margin: 0; }

            header { text-align: center; }

            h2 { text-align: center; }
            h3 { text-align: center; }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <h1>No se pudo encontrar el usuario</h1>
        </header>

        <h2>CC: {{id_num}}</h2>
        <h3>Puedes registrarte en la pagina principal</h3>
    </body>
</html> 
