<!DOCTYPE html>
<html>
  <head>
    <style>
      h1 { text-align: center; }
    </style>
  </head>

  <body>
    <h1>Información del uso de datos</h1>

    Esta página pretende facilitar el acceso a los templos en estos tiempos de
    pandemia. Teniendo esto en cuenta, los datos proporcionados en esta página 
    solo tienen como objetivo generar un registro que permita organizar la entrada
    de personas a las celebraciones litúrgicas y, en caso de que se detecte algún
    problema relacionado con el COVID-19, tener datos de contacto. Por este
    motivo, los datos no serán usados con ningún fin comercial y solo serán
    conocidos por el personal del templo en el cual se haga un registro,
    para ser usados con los fines anteriormente mencionados.

    <br>
    <br>

    Finalmente, la plataforma permite conocer y eliminar todos los datos ingresados
    por una persona. Sin embargo, por motivos de seguridad, para realizar alguna
    de estas acciones simplemente debe comunicarse con los templos en los que se
    haya realizado un registro.
  </body>
</html>
