<!DOCTYPE html>
<html>
    <head>
        <style>
            * { box-sizing: border-box; }

            body { margin: 0; }

            header { text-align: center; }

            form { text-align:center; width: 100%; }
            label, input { display: inline-block; }
            label { width: 25%; text-align: right; }
            label + input { width: 65%; }

            input { width: 90%; padding: 6px 6px; margin: 2px 0; border: 3px solid #ccc; transition: 0.5s; }
            input:focus { border: 3px solid #555; }

        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <h1>Registrarse</h1>
        </header>

        <form action="/register" method=post>
            <input type="hidden" name="city" value="{{city.pk}}"/>
            <input type="hidden" name="temple" value="{{temple.pk}}"/>
            <input type="hidden" name="mass" value="{{mass.pk}}"/>
            <label class="name_col">Cédula:</label> <input class="input_col" type="number" name="id_num" required> <br>
            <label>Nombre completo:</label> <input type="text" name="name" required> <br>
            <label>Edad:</label> <input type="number" name="age" required> <br>
            <label>Dirección:</label> <input type="text" name="address" required> <br>
            <label>Teléfono:</label> <input type="number" name="phone" required> <br>
            <input type="submit" value="Registrarse">
        </form> 

        <br>

        <div style="text-align: center;">
          Si tienes dudas sobre la privacidad puedes consultar <a href="/privacy_policy">aquí</a>
        </div>
    </body>
</html> 
