<!DOCTYPE html>
<html>
    <head>
        <style>
            * { box-sizing: border-box; }

            body { margin: 0; }

            header { text-align: center; }

            form { text-align:center; width: 100%; }
            label, input { display: inline-block; }
            label { width: 30%; text-align: right; }
            label + input { width: 60%; }

            input { width: 90%; padding: 6px 6px; margin: 2px 0; border: 3px solid #ccc; transition: 0.5s; }
            input:focus { border: 3px solid #555; }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <h1>Eliminar Misa</h1>
            <p>{{temple.name}} - {{mass.get_formatted_schedule}}</p>
        </header>

        <form action="/remove_mass" method=post>
            <input type="hidden" name="mass" value="{{mass.pk}}"/>
            <input type="submit" value="Eliminar">
        </form> 
    </body>
</html> 
